* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    transition: 0.2s linear;
}

body.dark {background-color: #37363d;}

body.dark .menu-container, body.dark .menu-footer, body.dark .footer-container {background-color: #26262a;}

body.dark .menu-yazı, body.dark .isim, body.dark .hakkında-container, body.dark .menu-yazı-footer, 
body.dark p1, body.dark .bi, body.dark .ustyazi, body.dark .başlık, body.dark .dersadı {color: #fff;}

body.dark .toggle{ background-color: #111;}

.toggle {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px;
width: 183px;
height: 26px;
border-radius: 180pX;
background-color: #6b6b6b;
box-shadow: 0 3px 10px #0f0f0f;
cursor: pointer;
}

.toggle::before {
content: "";
position: absolute;
width: 22px;
height: 22px;
left: 2px;
top: 2px;
background-color:#ffffff;
border-radius: 50%;
transform: translateY(-50X);
transition: all 0.3s ease-in-out;
}

.toggle.active::before {
    transform: translateX(24px);
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.menu-container {
    padding: 20px;
    display: flex;
    justify-content:  space-around;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    background-color: #b7b6b9;
}

.menu {
    gap: 10%;
    display: flex;
    justify-content:  end;
    color: white;
    background-color: transparent;
    }



.menu-yazı {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    transition: .2s;
}

.menu-yazı:hover {
    color: rgb(255, 255, 255);
}

body.dark .menu-yazı:hover {
    color: #f1c40f;
}

.isim-container {
    padding: 2rem;
    font-style: normal;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.isim {
    text-decoration: none;
    font-family: 'Whisper';
    color: rgb(0, 0, 0);
    background-color: transparent;
}

.mimar {
    color: rgb(150, 150, 150);
}

.hakkında-container {
    padding-top: 4.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foto{
    display: flex;
    flex-wrap: wrap;
}

.hakkında-container img {
    max-width: 400px;
}

.hakkında { 
    padding-top: 100px;
    width: 130vh;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}

.koyu {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.grup {
    padding-top: 20px;
}

.bi {
    scale: 1.4;
    text-decoration: none;
    color: black;    
    transition: .2s;
}

.ustyazi{    
    text-align: center;
    display: flex;
    justify-content: center;
}

.ben{
    font-size: 4rem;
}

.yazi {
    padding-top: 270px;
    font-size: 2.7rem;
    text-align: left;
    padding-bottom: 270px;
    cursor: default ;
}

.projeler-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    font-weight: bolder;
}

.başlık {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bolder;
    padding-left: 70px;
    text-decoration:underline;
}

.projeler {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.proje {  
    display: flex;
    border: 2px red;
}  

.proje:hover img{  
    transform: scale(1.1);
    opacity: .5;
} 

.proje:hover .dersadı {  
    opacity: 1;
} 

.proje img {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
    position: relative;
    transition: 0.5s;
}

.dersadı {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    opacity: 0;
    font-size: 50px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    transition: 0.5s;
}

.hata {
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    font-size: 80px;
    cursor: default;
}

.footer-container {
    background-color:  #b7b6b9;
    padding: 20px;
    margin-top: 30px;
}

.hesaplar-footer {
    gap: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

body.dark .bi:hover {
    color: #f1c40f;
}

.menu-footer {
    display: flex;
    justify-content:  center;
    color: white;
    
}

.menu-yazı-footer {
    padding: 15px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.menu-yazı-footer:hover {
    color: rgb(255, 255, 255);
}

body.dark .menu-yazı-footer:hover {
    color: #f1c40f;
}

p1 {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}